@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:wght@100;300;400;500;700&display=swap");

body {
    background-color: white;
    color: black;
    max-width: 700px;
    margin: auto;
    font-family: "Poppins", "sans-serif";
}

body::-webkit-scrollbar {
    display: none;
}

article {
    margin-top: 10%;
    padding: 5%;
    border-bottom: 1px solid grey;
}

p {
    line-height: 2rem;
}

h1 {
    font-weight: 800;
}

a {
    text-decoration: underline;
}

a:hover {
    transform: scale(1.5);
    color: rgb(71, 1, 56);
}

.backButton {
    margin-top: 5%;
}
